<!DOCTYPE html>
<html>
	<head>
		<title>UPR Level Security</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div class="row" style='margin-top:10px; margin-left:10px; margin-right:10px; display: flex;'>
				<div class="col-md-3">
					<span style="display: inline-block; height: 100%; vertical-align: middle"></span><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/ConEd_logo.svg/2000px-ConEd_logo.svg.png" alt="ConEd Logo" width="200" height="40" style="vertical-align: middle">
				</div>
				<div class="col-md-5" style="display: table; height: 40px;">
					<span style="font-size:	24px; color: #0696D4; text-align:center; display: table-cell; vertical-align: middle;">UPR Level Security Monitoring Application</span>
				</div>
				<div class="col-md-4" style="position:relative; display: table; height: 40px">
					<a class="hover" href="{{ url_for('home')}}" style="color: #9facbd; display: table-cell; padding-top: 5px; vertical-align: middle; text-align: center">Home</a>
					<a class="hover" href="{{ url_for('records')}}" style="color: #9facbd; display: table-cell; padding-top: 5px; vertical-align: middle; text-align: center">Full Records</a>
					<a class="hover" href="{{ url_for('logout')}}" style="color: #9facbd; display: table-cell; padding-top: 5px; vertical-align: middle; text-align: center">Logout</a>
				</div>
			</div>
			<hr>
			<div class="row" style="margin-left:10px; margin-right:10px">
				<div class="col-md-12">
					<h2 style="color: #0696D4; text-align:center">Remote Control Display</h2>
					<hr width=50%>
				</div>
			</div>
			<div class="row" style="margin-left:10px; margin-right:10px; margin-bottom: 10px">
				<div id='video-div' class="col-md-12">
					<iframe id ='stream' src = "http://10.192.228.249?remote=True"></iframe>
				</div>
			</div>
			<div class="row" style="margin-left:10px; margin-right:10px; text-align:center">
				<div class="col-md-12">
					<button class="btn btn-primary" onclick="runCommand(87)"><i style="font-size:24px" class="fa">&#xf062;</i></button>
					<button class="btn btn-primary" onclick="runCommand(65)"><i style="font-size:24px" class="fa">&#xf060;</i></button>
					<button class="btn btn-primary" onclick="runCommand(32)"><i style="font-size:24px" class="fa">&#xf0c8;</i></button>
					<button class="btn btn-primary" onclick="runCommand(68)"><i style="font-size:24px" class="fa">&#xf061;</i></button>
					<button class="btn btn-primary" onclick="runCommand(83)"><i style="font-size:24px" class="fa">&#xf063;</i></button>
				</div>
			</div>
		</div>
	</body>
</html>


<script type="text/javascript">

/*
w (ASCII: 119, Keycode: 87) - forward 
a (ASCII: 97, Keycode: 65) - forward left
d (ASCII: 100, Keycode: 68) - forward right
z (ASCII: 122, Keycode: 90) - back left
c (ASCII: 99, Keycode: 67) - back right
s (ASCII: 115, Keycode: 83) - back
space (ASCII: 32, Keycode: 32) - stop
escape (Keycode: 27) - stop remote control
*/

	// $(document).keypress(function(e){
	// 	keys = [115,119,100,97,32,122,99]
	// 	key_letters = ['s', 'w', 'd', 'a', ' ', 'z', 'c']
	// 	if(keys.indexOf(e.which) > -1) {
	// 		console.log(key_letters[keys.indexOf(e.which)]);
	// 		// console.log(e.which);
	// 		// runCommand(e.which);
	// 		runCommand(key_letters[keys.indexOf(e.which)]);
	// 	}
	// });

	window.onload = function(){
		document.addEventListener("keydown", keyDownSignal, false);
		document.addEventListener("keyup", keyUpSignal, false);
	}

	function keyDownSignal(e){
		keys = [83,87,68,65,32,90,67, 27]
		key_letters = ['s', 'w', 'd', 'a', ' ', 'z', 'c', '27']
		if(keys.indexOf(e.which) > -1) {
			console.log("Down - ", key_letters[keys.indexOf(e.which)]);
			runCommand(key_letters[keys.indexOf(e.which)]);
		}
	}

	function keyUpSignal(e){
		keys = [83,87,68,65,32,90,67]
		if(keys.indexOf(e.which) > -1) {
			console.log("Up - space");
			runCommand(' ');
		}
	}

	function runCommand(op) {
		console.log("here")
		$.ajax({
			type: "GET",
			url: "http://128.197.180.233:5000/command",
			data: {"op": op},
			dataType: 'json',
		});
	}
</script>

<style type="text/css">
	body {
        font-family: 'Open Sans';
      }
	#header{
		margin-bottom: 20px;
		margin-top: 20px;
		color: #0696D4;
	}
	#video-div{
		height: 100%;
	}
	#stream{
		border-width: 0px;
		width: 100%;
		height: 440px;
		margin-bottom: 5px;
	}
	li:nth-child(4n) { background: #d3d3d3; }
	li:nth-child(4n-1) { background: #d3d3d3; }
</style>