<!DOCTYPE html>
<html>
	<head>
		<title>UPR Level Security</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>

	<body style='background-color: #e9e9e9'>
		<div class="container-fluid">
			<h1 id='header'>UPR Level Security Monitoring Application</h1>
			<div class="row" styld="margin-right:0px">
				<div id="video-container" class="col-md-8">
					<div id="video-div" class='col-md-12'>
						<h2 style='padding-top: 10px; color: #88bbd6'>Live Video</h2>
						<iframe id ='stream' src = "http://192.168.0.51:8081/"></iframe>
					</div>
				</div>
				<div id='alert-div' class="col-md-4">
					<div id='alert-list' class='col-md-12'>
						<h2 style='padding-top: 10px; color: #88bbd6'>Alert Bar</h2>
						<ul>
							{% for alert in alerts %}
							<li>{{alert.title}}: {{alert.text}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

<style type="text/css">
	#header{
		font: 'Open Sans';
		margin-bottom: 20px;
		margin-top: 20px;
		color: #88bbd6;
	}
	#video-container{
		background-color: #e9e9e9;
		padding-left: 10px;
		padding-right: 5px;
	}
	#video-div{
		background-color: #cdcdcd;
		height: 100%;
	}
	#alert-div{
		padding-left: 5px;
		padding-right: 10px;
		background-color: #e9e9e9;
	}
	#alert-list{
		background-color: #cdcdcd;
		height: 100%;	
	}

	#stream{
		border-width: 0px;
		width: 100%;
		height: 480px;
		margin-bottom: 5px;
	}
</style>